body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(181, 127, 230, 0.3);
  width: 400px;
}

h1 {
  text-align: center;
  color: #814fbf;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  color: #5a4e78;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #b57fe6;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #a06cdb;
}
