{% extends 'layout.html' %}
{% load static %}

{% block title %}Create Event - Eventra{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Create a New Event</h1>

    <div class="event-card">
        <form method="post">
            {% csrf_token %}

            <label for="title"><strong>Event Title</strong></label>
            <input type="text" id="title" name="evnet_name" placeholder="Enter event title" required>

            <label for="description"><strong>Description</strong></label>
            <textarea id="description" name="description" placeholder="Enter event description" rows="4"
                required></textarea>

            <label for="start_datetime"><strong>Start Date & Time</strong></label>
            <input type="datetime-local" id="start_datetime" name="start_datetime" required>

            <label for="end_datetime"><strong>End Date & Time</strong></label>
            <input type="datetime-local" id="end_datetime" name="end_datetime" required>

            <label for="last_date_for_reg"><strong>Last Date for Registration</strong></label>
            <input type="datetime-local" id="last_date_for_reg" name="last_date_for_reg" required>

            <label for="team_capacity"><strong>Team Capacity</strong></label>
            <input type="number" id="team_capacity" name="team_capacity" min="1" value="1" required>

            <label for="Duration"><strong>Duration</strong></label>
            <input type="number" id="duration" name="event_duration" placeholder="Enter duration in minutes" required>

            <label for="event_type"><strong>Event Type</strong></label>
            <select id="event_type" name="event_type" required>
                <option value="" disabled selected>Select event type</option>
                <option value="workshop">Workshop</option>
                <option value="competition">Competition</option>
            </select>

            <label for="mode"><strong>Mode</strong></label>
            <select id="mode" name="event_mode" required>
                <option value="" disabled selected>Select mode</option>
                <option value="Online">Online</option>
                <option value="Offline">Offline</option>
            </select>

            <label for="location"><strong>Location</strong></label>
            <input type="text" id="location" name="event_location" placeholder="Enter location or online platform"
                required>

            <label for="fee">Fees</label>
            <input type="number" id="fee" name="event_fee" placeholder="Enter event fee" min="0" step="0.01"
                value="0.00">

            <button type="submit" class="register-btn">Create Event</button>
        </form>

    </div>
</div>

<script>
    let tab = document.getElementById('create_events');
    if (tab) tab.classList.add('active-tab');
</script>
{% endblock %}