{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="container">
        <h1>Upcoming Events</h1>

        <div class="event-card">
            <h2>TechSpark 2025</h2>
            <p class="description">An engaging tech symposium with workshops, competitions, and keynote speakers from top tech companies.</p>
            <div class="event-details">
                <p><strong>Start Date & Time:</strong> July 28, 2025 – 10:00 AM</p>
                <p><strong>Mode:</strong> Offline</p>
                <p><strong>Location:</strong> Anna University, Chennai</p>
            </div>
            <a href="#" cl></a>
        </div>
    </div>
<script>
    document.getElementById('upcoming_events').classList.add('active-tab');
    document.getElementById('live_events').classList.remove('active-tab');
    document.getElementById('profile_org').classList.remove('active-tab');
    document.getElementById('create_events').classList.remove('active-tab');
    document.getElementById('profile_part').classList.remove('active-tab');
</script>
{% endblock %}