{% extends 'layout.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="container">
    <h1>Upcoming Events</h1>

    {% if upcoming_events %}
    {% for event in upcoming_events %}
    <div class="event-card">
        <h2>{{ event.title }}</h2>
        <p class="description">{{ event.description }}</p>
        <div class="event-details">
            <p><strong>Start Date & Time:</strong> {{ event.start_time|date:"F d, Y – h:i A" }}</p>
            <p><strong>Mode:</strong> {{ event.mode }}</p>
            <p><strong>Location:</strong> {{ event.location_or_link }}</p>
        </div>
        <a href="{% url 'register_events' event.id %}" class="register-btn">Register</a>
    </div>
    {% endfor %}
    {% else %}
    <p>No upcoming events available at the moment.</p>
    {% endif %}
</div>

<script>
    document.getElementById('upcoming_events').classList.add('active-tab');
    document.getElementById('live_events').classList.remove('active-tab');
    document.getElementById('profile_org').classList.remove('active-tab');
    document.getElementById('create_events').classList.remove('active-tab');
    document.getElementById('profile_part').classList.remove('active-tab');
</script>
{% endblock %}